.divCard {
  background-color: rgb(62, 161, 200);
  border: black solid;
  border-radius: 15px;
  margin-top: 10px;
  padding: 50px;
  color: aliceblue;
  font-weight: 2em;
  text-shadow: black 1px 1px;
}
.img {
  border-radius: 15px;
  border: rgb(5, 5, 4);
  border-style: outset;
  width: 70%;
}
.button {
  display: flex;
  margin-left: 97%;
}
